.auth__main {
    align-items: center;
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

.auth__box-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px;
}

.auth__phrase-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #83E1FF;
}

.auth__phrase {
    box-sizing: border-box;
    margin: auto 0;
    padding: 20px;
    height: 50%
}

.auth__picture {
    background: url(../../images/Vorderrhein.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 150%;
    object-fit: cover;

    height: 50%
}

.auth__form {
    height: 500px;
    width: 380px;
}

.auth__social-nets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .btn {
        text-align: right;
        font-size: 14px;
        width: 150px;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        border-radius: 0;
        position: relative;

        &::after {
            content: "";
            display: block;
            height: 1px;
            width: inherit;
            position: absolute;
            left: 0;
            bottom: -15px;
            background: $light-grey;
        }
    }

    .google-icon {
        width: 20px;
        background: #fff;

    }

    .facebook-icon {
        width: 12px;
    }
}

.auth__form-login {
    padding: 0 20px;

    i,
    svg {
        margin-right: 10px;
        color: $light-grey;
    }

    height: auto;
}

.auth__input-containter {
    margin: 25px 0;
    border: 1px solid $light-grey;
    height: 35px;
    position: relative;
}
.auth__validator-msg{
    color: #ff1919;
    font-size: rem(12);
    position: absolute;
    bottom: rem(-20);
}

.auth__input,
.auth__input+button {
    border: none;
    outline-style: none;
}

.auth__log-for-container>div {
    display: flex;
    justify-content: center;
    align-items: center;

}

.auth__forgot-password {
    margin-bottom: 0;
}

.auth__create-acount {
    margin-top: 40px;
    text-align: center;
}

/* ----------------------------- auth__register ----------------------------- */
.auth__register {
    background: #FFF0C9;
}

.auth__register-picture {
    background: url(../../images/Waiau.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 150%;
    object-fit: cover;

    height: 50%
}

.auth__register-password {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(0, auto));
    position: relative;
    // justify-content: space-between;
    .auth__input {
        border: 1px solid $light-grey;
        outline-style: none;
    }
}

.auth_show-password {
    background: none;
    border: none;
    cursor: pointer;

    i,
    svg {
        margin: 0;
    }
}