.btn-primary {
    background-color: $primary;
    border-radius: 2px;
    border: none;

    &:disabled {
        background-color: lighten($color: $primary, $amount: 15);
    }

    &:hover {
        background-color: darken($color: $primary, $amount: 15);
    }
}

.btn-google {
    background: #5969F9;

    span {
        color: white;
    }
}

.btn-default .btn-danger {
    background-color: rgb(250, 119, 119);
    transition: background-color .3s ease;

    &:hover {
        background-color: darken($color: rgb(250, 119, 119), $amount: 10);
    }
}

.btn-block {
    border-radius: 0;
    margin-right: 0;
    width: 35%;
    background: $google-blue;
    color: #fff;
}

/* -------------------------------------------------------------------------- */
/*                               phrases screen                               */
/* -------------------------------------------------------------------------- */

/* --------------------------------- header --------------------------------- */
.btn-bars {
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    min-width: 40px;
    border: none;
    background: none;
    transition: all 0.2s;

    &:hover {
        background: $light-grey;
    }

    i,svg {
        font-size: rem(20);
    }
}

.btn-search,
.btn-close,
.btn-close-search {
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 40px;
    border: none;
    background: none;
    padding: 0;
    transition: all 0.2s;

    &:hover {
        background: $light-grey;
    }

    i,
    svg {
        font-size: 20px;
    }
}

.btn-settings {
    @extend .btn-search;
    background: none;
    margin-right: 10px;
    ;

    i,
    svg {
        color: $font-grey;
        font-size: 20px;
    }
}

.btn-close-msg {
    cursor: pointer;
    border: none;
    margin-left: auto;
}

.btn-galery {
    @extend .btn-bars;
    min-width: 30px;
    height: 30px;
    margin-right: 10px;
}

.btn-add-category:disabled {
    background-color: lighten($color: $primary, $amount: 15);
}

.selected-phrase__btn-close {
    cursor: pointer;
    position: absolute;
    background-color: rgba(32, 33, 36, 0.6);
    width: rem(30);
    height: rem(30);
    border-radius: 50%;
    transition: all 0.2s;

    &:hover {
        background: $light-grey;
    }

    i,
    svg {
        color: #fff;
        font-size: 20px;
    }
}

.btn-Approve {
    cursor: pointer;
    position: absolute;
    right: rem(7);
    bottom: rem(5);
    width: rem(40);
}

.selected-phrase__btn-save {
    background: $red;
    color: #fff;
    transition:  .3s ease;

    &:hover {
        background-color: lighten($color: $red, $amount: 15);
    }
}