.btn-primary {
    background-color: $primary;
    border-radius: 2px;
    border: none;

    &:disabled {
        background-color: lighten($color: $primary, $amount: 15);
    }

    &:hover {
        background-color: darken($color: $primary, $amount: 15);
    }
}
.btn-google {
    background: #5969F9;

    span {
        color: white;
    }
}
.btn-default
.btn-danger {
    background-color: rgb(250, 119, 119);
    transition: background-color .3s ease;

    &:hover {
        background-color: darken($color: rgb(250, 119, 119), $amount: 10);
    }
}

.btn-block {
    border-radius: 0;
    margin-right: 0;
    width: 35%;
    background: $google-blue;
    color: #fff;
}

/* -------------------------------------------------------------------------- */
/*                               phrases screen                               */
/* -------------------------------------------------------------------------- */

/* --------------------------------- header --------------------------------- */
.btn-bars {
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    min-width: 40px;
    border: none;
    background: none;
    transition: all 0.2s;
    &:hover {
        background: $light-grey;
    }

    svg {
        width: 18px;
    }
}
.btn-search, .btn-close{
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    padding: 0;
    &:hover{
        background: $light-grey;
    }
    i,svg{
        font-size: 20px;
    }
}
.btn-settings{
    @extend .btn-search;
    background: none;
    margin-right: 10px;;
    i,svg{
        color: $font-grey;
        font-size: 20px;
    }
}
.btn-close-msg{
    cursor: pointer;
    border: none;
    margin-left: auto;
}
.btn-galery{
    @extend .btn-bars;
    min-width: 30px;
        height: 30px;
    margin-right: 10px;
}
.btn-add-category:disabled{
    background-color:  lighten($color: $primary, $amount: 15);
}