.msgs__main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    width: 100%;
}

.msgs_create-msg,
.msgs_create-msg-complete {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px;
    width: 80%;
    min-width: 360px;
}

.msgs_create-msg {
    cursor: text;
    p {
        padding: rem(10);
        margin: 0;
    }
}

.msgs__form {
    // margin: rem(10);
}

.msgs__msg-options {
    display: flex;
    text-align: center;
    justify-content: flex-end;
    padding: rem(10);
    border-top: 1px solid $light-grey;
}

.msgs__msg-options {}

.msgs__title {
    border: none;
    outline: none;
}


.msgs__title-input,
.msgs__textarea {
    border: none;

    &:focus {
        outline: none;
    }
}

.msgs__textarea {
    margin-top: 15px;
}

.msgs__title-input {
    color: $dark-grey;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.msgs__textarea {
    border: none;
    color: $dark-grey;
    font-size: 20px;
    flex: 1 1 auto;
    resize: none;
}

.msgs__picture {
    height: 300px;
    overflow: auto;
    margin: 0;

    img {
        max-width: 100%;
        // max-height: 100%;
    }
}