.msgs__main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    width: 100%;
}
.msgs_create-msg, .msgs_create-msg-complete{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px;
    padding: 12px;
    width: 80%;
    min-width: 500px;
    p{
        margin: 0;
    }
}
.msgs_create-msg-complete{
    padding-top: 20px;
}
.msgs__msg-options{
    display: flex;
    text-align: center;
    justify-content: flex-end;
    padding-top: 10px;
    border-top: 1px solid $light-grey;
}
.msgs__msg-options{

}
.msgs__title{
    border: none;
    outline:none;
}


.msgs__title-input, .msgs__textarea {
    border: none;

    &:focus{
        outline: none;
    }
}
.msgs__textarea{
    margin-top: 15px;
}
.msgs__title-input {
    color: $dark-grey;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.msgs__textarea {
    border: none;
    color: $dark-grey;
    font-size: 20px;
    flex: 1 1 auto;
    resize: none;
}

.msgs__image img {
    box-shadow: 5px 5px $dark-grey;
    height: 150px;
}